.big {
  border: 1px black solid;
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
}

.bignum {
  position: absolute;
  left: 0px;
  top: 0px; 
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
  display: table;
  vertical-align: top;
}

.clickables {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.clickables a {
  display: inline-block;
  width: 33px;
  height: 33px;
}
.big .touch {
  display: block;
  height: 45px;
  position: absolute;
  width: 45px;
}

.big .touch div {
  height: 15px;
  width: 15px;
  display: block;
  background-color: pink;
}